body {
    background-color: rgb(157, 244, 255);
}


h1 {
    color: red;
}

h2 {
    color: white;
    background-color: green;
}

.section__title {
    padding: 30px 0 30px 30px;
}

.header__text {
    background-color: blue;
    color: white;
    max-width: 100px;
    margin-bottom: 100px;
}

.header__text2 span {
    color: red;
}

.main__form {
    font-size: 25px;
}

.main__form li {
    border: 1px solid black;
}